<% @photos.each do |photo| %>
  <div class="card photo-form">
    <div class="card-body">
      <%= link_to photo, class: "photo-link" do %>
      <%= image_tag photo.image.url(:medium) %><% end %><br>
      <strong><%= photo.descpription %><br></strong>
      <%= link_to photo.user.name, profile_path(photo.user_id) %><br>
    </div>
  </div>
<% end %>
