<% if user_signed_in? %>

<% else %>

  <div class="jumbotron">
    <h1 class="display-4"><%= t('landing.header') %></h1>
    <p class="lead"><%= t('landing.description') %>.</p>
    <hr class="my-4">
    <%= link_to t('landing.buttons.create_account'), new_user_registration_path, class: "btn btn-account" %>
    <%= link_to t('landing.buttons.login'), new_user_session_path, class: "btn btn-enter" %>
  </div>

<% end %>
