<div class="jumbotron jumbotron-landing">
  <h1 class="display-4">Делистесь своими эмоциями</h1>
  <p class="lead">Размещайте свои фотографии и подписывайтесь на публикайии ваших друзей.</p>
  <hr class="my-4">
  <a class="btn btn-account" href="#" role="button">Создать аккаунт</a>
  <a class="btn  btn-enter" href="#" role="button">Войти</a>
</div>
