<div class="card photo-form">
  <div class="card-header color-header">
    <h2>Добавить фото</h2>
  </div>
  <div class="card-body">

  <%= render 'form', photo: @photo %>

  <%= link_to 'Back', photos_path %>

  </div>
</div>
